<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='estilo.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/css/bootstrap.min.css">
    <script src="{{ url_for('static', filename='bootstrap-5.3.0/js/bootstrap.bundle.js') }}"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <title>Editar Producto</title>
</head>
<body>
    <h1>Editar Producto</h1>
    <form action="{{ url_for('Productos.edit', id=producto.idProducto) }}" method="post"  enctype="multipart/form-data" >
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre" value="{{ producto.nombreProducto }}" required>
        <label for="detalle">Detalle:</label>
        <input type="text" id="detalle" name="detalle" value="{{ producto.detalleProducto }}" required>
        <label for="precio">Precio:</label>
        <input type="text" id="precio" name="precio" value="{{ producto.precioProducto }}" required>
        <label for="stock">Stock:</label>
        <input type="text" id="stock" name="stock" value="{{ producto.stockProducto }}" required>
        <label for="imag">Imagen:</label>
        <input type="file" id="imag" name="imag" accept=".png,.jpg,.jpng,.webp"  > 
        <img src=" {{ url_for('static',filename='imagenes/'+producto.imgp) }} " alt=""> <br>
        

        <label for="categoria">Categoria:</label>
         
       
            <select name="categoria" id="categoria"> 
                <option value="{{ producto.categor.idCategoria }}" selected> {{ producto.categor.nombreCategoria }} </option>

                {% for categoria in categoriia %}
                    {% if producto.categor.idCategoria != categoria.idCategoria %} 
                        <option value="{{ categoria.idCategoria }}">{{ categoria.nombreCategoria }}</option>
                    {% endif %}
              
                {% endfor %}
              </select>
        
        <button type="submit">Actualizar Producto:</button>
    </form>
</body>
</html>
